$textColorOne: green;
$backgroundColorOne: #237C95;
$backgroundImage: 'maserati';

@mixin textcolor {
  color: $textColorOne;
}

@mixin mixinTwo {
  background-color: $backgroundColorOne;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.taskOne {
  color: $textColorOne;
}

.taskTwo {
  @include textcolor;
}

.taskThree {
  .nestedDiv {
     color: red;
  }
}

.taskFour {
  @include mixinTwo;
}

.taskFive {
  background-image: url('https://s3.amazonaws.com/bottega-devcamp/scss/cars/#{$backgroundImage}.jpg');
  width: 300px;
  height: 300px;
  object-fit: fill;
}
