.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
    display: flex;
}



.flexOne .square {
    margin:  5px;
}


.flexTwo {
    flex-direction: column;
}
.flexTwo .square {
    margin:  2px;
}


.flexThree {
    flex-direction: row-reverse;
}
.flexThree .square {
    margin:  2px;
}
